<div class="footer-bar">
    <div class="footer-nav-bar">
        <nav>
            <b class="nav-item"><a href="about-us">О нас</a></b>
            <b class="nav-item"><a href="contacts">Контакты</a></b>
            <b class="nav-item"><a href="reviews">Отзывы</a></b>
            <b class="nav-item"><a href="subscription">Подписка на рассылку</a></b>
            <b class="nav-item"><a href="lab5">Шаблон таблицы</a></b>
        </nav>
    </div>
</div>