<div class="header-content">
    <img class="logo-image" src="images/logo.jpg" alt="Логотип" height="200">
    <a href="index">
        <h1><img class="logo-image3" src="images/logo3.png" alt="Petshop" width="600"></h1>
    </a>
    <img class="logo-image2" src="images/logo2.jpg" alt="Логотип" height="200">
</div>
