<div class="head-nav-bar">
    <nav>
        <b class="nav-item"><a href="catalog">Каталог</a></b>
        <b class="nav-item"><a href="best">Лучшее</a></b>
        <b class="nav-item"><a href="news">Новости</a></b>
    </nav>
</div>