<section>
    <h2>Великие цитаты:</h2>
    <p><q>Сходят с ума только те, у кого он есть.</q> - <em>Станислав Ежи Лец</em></p>
    <p><q>Спи и думай во сне.</q> - <em>Татьяна Исаева</em></p>
</section>

<section>
    <pre><code>
        import is25
        is25.expelStudent(@yaaarsl_v)
    </code></pre>
</section>