<div class="search">
    <form class="search-form" action="search-result" method="GET">
        <label>
            <input class="input" placeholder="Введите запрос">
        </label>
        <button class="search">
            <img src="images/search-icon.png" alt="Поиск">
        </button>
    </form>
</div>