<div class="sign-out-cart">
    <div class="sing-out-button">
        <form class="sign-out-form">
            <button class="sign-out-button">Выйти</button>
        </form>
    </div>


    <div class="cart-button">
        <form action="cart">
            <button><span class="cart-icon">🛒</span></button>
        </form>
    </div>
</div>