<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="keywords"
          content="интернет-магазин для домашних животных, корм для животных, игрушки для питомцев, товары для ухода за животными, зоотовары">
    <title>Petshop - добавить новость</title>
    <link rel="icon" href="/images/logo2.jpg">
    {{> styles}}
    <script src="scripts/loadTime.js"></script>
    <script src="scripts/checkAuth.js"></script>
    <script src="scripts/checkTimeout.js"></script>
    <script src="scripts/checkAdmin.js"></script>
    <script src="scripts/searchScript.js"></script>
    <!--            <link rel="stylesheet" href="/styles/outlines.css">-->
</head>
<body>
<header>
    {{>header_content}}
    <div class="head-bar">
        {{>search}}
        {{>sign_in_cart}}
        {{>head_nav_bar}}
    </div>
</header>
<main>
    <div class="add-news-form">
        <h2>Разместить новость</h2>
        <form id="newsForm">
            <div class="form-group">
                <b><label for="subject">Заголовок:</label></b>
                <textarea class="subject-input" type="text" id="subject" name="subject" maxlength="255" placeholder="Введите заголовок" required></textarea>
            </div>

            <div class="form-group">
                <b><label for="news-text">Текст:</label></b>
                <textarea class="text-input" type="text" id="news-text" name="news-text" placeholder="Введите текст" required></textarea>
            </div>

            <button class="news-button" type="submit">Добавить новость</button>
        </form>

        <script src="scripts/postNews.js"></script>
    </div>
</main>
<footer>
    {{>quotes_code}}
    {{>footer_bar}}
    {{>logo}}
</footer>
</body>
</html>