<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="keywords"
          content="интернет-магазин для домашних животных, корм для животных, игрушки для питомцев, товары для ухода за животными, зоотовары">
    <title>Petshop - каталог</title>
    <link rel="icon" href="/images/logo2.jpg">
    {{> styles}}
    <script src="scripts/nav.js"></script>
    <script src="scripts/loadTime.js"></script>
    <script src="scripts/checkAuth.js"></script>
    <script src="scripts/checkAdmin.js"></script>
    <script src="scripts/checkTimeout.js"></script>
    <script src="scripts/getProducts.js"></script>
    <script src="scripts/searchScript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        const socket = io('https://beb-web.onrender.com');
        socket.on('productUpdate', (data) => {
            console.log('Received product update:', data);
            toastr.options.timeOut = null;
            toastr.options.positionClass = "toast-bottom-right";
            if (data["price"]){
                toastr.info(`Продукт с ID ${data.productId} был обновлён. Новая цена: ${data.price} руб. Обновите страницу!`)
            } else if (data["name"]){
                toastr.info(`Продукт с ID ${data.productId} был обновлён. Новое название: ${data.name}. Обновите страницу!`)
            } else if (data["category"]){
                toastr.info(`Продукт с ID ${data.productId} был обновлён. Новая категория: ${data.category}. Обновите страницу!`)
            } else if (data["deletedId"]){
                toastr.info(`Продукт с ID ${data.productId} был удалён из магазина. Обновите страницу!`)
            } else if (data["brand"]){
                toastr.info(`Продукт с ID ${data.productId} был обновлён. Новый бренд: ${data.brand}. Обновите страницу!`)
            } else if (data["count"]){
                toastr.info(`Продукт с ID ${data.productId} был обновлён. Новое количество: ${data.count}. Обновите страницу!`)
            }
        });

        socket.on('userUpdate', async (data) => {
            const myId = localStorage.getItem("myId");
            if (myId) {
                if (myId === data.userId) {
                    console.log('Received user update:', data);
                    toastr.options.timeOut = null;
                    toastr.options.positionClass = "toast-bottom-right";
                    if (data["role"]) {
                        toastr.info(`Вам выдана роль: ${data.role}. Обновите страницу!`)
                    } else if (data["deletedId"]) {
                        toastr.info(`Ваш аккаунт был удалён. Обновите страницу!`)
                    } else if (data["ban"]) {
                        toastr.error(`Ваш аккаунт был ${data.ban === "true" ? "забанен" : "разбанен"}. Обновите страницу!`)
                        if (data.ban === "true") {
                            localStorage.clear();
                            await new Promise(resolve => setTimeout(resolve, 5000));
                            window.location.href = "index";
                        }
                    }
                }
            }
        });
    </script>
    <!--        <link rel="stylesheet" href="/styles/outlines.css">-->
</head>
<body>
<header>
    {{>header_content}}
    <div class="head-bar">
        {{>search}}
        {{>sign_in_cart}}
        {{>head_nav_bar}}
    </div>
</header>
<main>
    <div class="product-filter">
        <div class="products">
            <div class="products-head">
                <h2>Товары:</h2>
                <form class="addProduct" action="add-product">
                </form>
                <form class="manageProductsForm" action="manage-products">
                </form>
            </div>
            <div class="loader" style="display: none;">
                <div class="running-cat-container">
                    <img class="running-cat" src="images/running-cat.gif" alt="Running Cat">
                </div>
                <div class="loading-text">Загрузка</div>
            </div>

            <div id="products-list" class="product-list">
                <div class="error-message" style="display: none;">⚠ Что-то пошло не так</div>
            </div>
        </div>

        <div class="filters">
            <h2>Фильтры:</h2>
            <div class="category-filters">
                <h3>По категории:</h3>
                <input type="checkbox" id="filter-cat">
                <label for="filter-cat">Для кошек</label>

                <br><input type="checkbox" id="filter-dog">
                <label for="filter-dog">Для собак</label>

                <br><input type="checkbox" id="filter-parrot">
                <label for="filter-parrot">Для попугаев</label>

                <br><input type="checkbox" id="filter-turtle">
                <label for="filter-turtle">Для черепах</label>
            </div>

            <div class="price-filters">
                <h3>По ценам:</h3>
                <label for="minPrice">От:</label><input type="number" id="minPrice" min="0">руб.
                <br><label for="maxPrice">До:</label><input type="number" id="maxPrice" min="0" >руб.
            </div>

            <div class="brand-filters">
                <h3>По брендам:</h3>
                <div class="loader" style="display: none;">
                    <div class="running-cat-container">
                        <img class="running-cat" src="images/running-cat.gif" alt="Running Cat">
                    </div>
                    <div class="loading-text">Загрузка</div>
                </div>
                <div id="brand-filter"></div>
            </div>

            <div class="availability-filter">
                <h3>По доступности:</h3>
                <input type="checkbox" id="in-stock">
                <label for="in-stock">В наличии</label>

                <br><input type="checkbox" id="out-of-stock">
                <label for="out-of-stock">Нет в наличии</label>
            </div>

            <button class="applyFilters">Применить</button>
            <button class="resetFiltersButton">Сбросить фильтры</button>
        </div>
        <script src="scripts/loading.js"></script>
    </div>
</main>
<footer>
    {{>quotes_code}}
    {{>footer_bar}}
    {{>logo}}
</footer>
</body>
</html>