<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="keywords"
          content="интернет-магазин для домашних животных, корм для животных, игрушки для питомцев, товары для ухода за животными, зоотовары">
    <title>Petshop - контакты</title>
    <link rel="icon" href="/images/logo2.jpg">
    {{> styles}}
    <script src="scripts/nav.js"></script>
    <script src="scripts/loadTime.js"></script>
    <script src="scripts/checkAuth.js"></script>
    <script src="scripts/checkTimeout.js"></script>
    <script src="scripts/searchScript.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/twing/dist/lib.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        const socket = io('https://beb-web.onrender.com');
        socket.on('userUpdate', async (data) => {
            const myId = localStorage.getItem("myId");
            if (myId) {
                if (myId === data.userId) {
                    console.log('Received user update:', data);
                    toastr.options.timeOut = null;
                    toastr.options.positionClass = "toast-bottom-right";
                    if (data["role"]) {
                        localStorage.setItem("role", data.role)
                        toastr.info(`Вам выдана роль: ${data.role}. Обновите страницу!`)
                    } else if (data["deletedId"]) {
                        localStorage.clear();
                        toastr.info(`Ваш аккаунт был удалён. Обновите страницу!`)
                    } else if (data["ban"]) {
                        toastr.error(`Ваш аккаунт был ${data.ban === "true" ? "забанен" : "разбанен"}. Обновите страницу!`)
                        if (data.ban === "true") {
                            localStorage.clear();
                            await new Promise(resolve => setTimeout(resolve, 5000));
                            window.location.href = "index";
                        }
                    }
                }
            }
        });
    </script>
    <!--        <link rel="stylesheet" href="/styles/outlines.css">-->
</head>
<body>
<header>
    {{>header_content}}
    <div class="head-bar">
        {{>search}}
        {{>sign_in_cart}}
        {{>head_nav_bar}}
    </div>
</header>
<main>
    <section>
        <h2>Контакты:</h2>
        <ul>
            <li><a href="mailto:savenkovyaroslav53@gmail.com">savenkovyaroslav53@gmail.com</a></li>
            <li><a href="tel:+79626595150">+79626595150</a></li>
        </ul>
    </section>
</main>
<footer>
    {{>quotes_code}}
    {{>footer_bar}}
    {{>logo}}
</footer>
</body>
</html>