<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="keywords"
          content="интернет-магазин для домашних животных, корм для животных, игрушки для питомцев, товары для ухода за животными, зоотовары">
    <title>Petshop - восстановление пароля</title>
    <link rel="icon" href="/images/logo2.jpg">
    {{> styles}}

    <!--            <link rel="stylesheet" href="/styles/outlines.css">-->
</head>
<body>
<header>
    {{>header_content}}
    <div class="head-bar">
        {{>head_nav_bar}}
    </div>
</header>
<main>
<!--    <div class="recover-form">-->
<!--        <h2>Восстановить пароль</h2>-->
<!--        <form id="changePasswordForm" style="display: none">-->
<!--            <div class="form-group">-->
<!--                <b><label for="password">Новый пароль:</label></b>-->
<!--                <textarea class="password-input" type="text" id="password" name="password" maxlength="255" placeholder="Введите новый пароль" required></textarea>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <b><label for="checkPassword">Подтвердите новый пароль:</label></b>-->
<!--                <textarea class="password-input" type="text" id="checkPassword" name="password" maxlength="255" placeholder="Введите пароль ещё раз" required></textarea>-->
<!--            </div>-->

<!--            <button class="recover-button" type="submit">Сменить пароль</button>-->
<!--        </form>-->

<!--        <form id="recoverForm" style="display: block">-->
<!--            <div class="form-group">-->
<!--                <b><label for="email">Почта:</label></b>-->
<!--                <input class="email-input" type="email" id="email" name="email" maxlength="255" placeholder="Введите почту" required>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <b><label for="code">Код подтверждения:</label></b>-->
<!--                <input class="code-input" type="text" id="code" name="code" placeholder="Введите код" required>-->
<!--                <button class="send-code-button" type="button" id="sendRecoverCodeButton">Отправить код</button>-->
<!--            </div>-->

<!--            <button class="recover-button" type="submit">Продолжить</button>-->
<!--        </form>-->

<!--        <script src="scripts/recover-password.js"></script>-->
<!--    </div>-->
</main>
<footer>
    {{>quotes_code}}
    {{>footer_bar}}
    {{>logo}}
</footer>
</body>
</html>