<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="keywords"
          content="интернет-магазин для домашних животных, корм для животных, игрушки для питомцев, товары для ухода за животными, зоотовары">
    <title>Petshop - товар</title>
    <link rel="icon" href="/images/logo2.jpg">
    {{> styles}}
    <script src="scripts/nav.js"></script>
    <script src="scripts/checkAuth.js"></script>
    <script src="scripts/checkTimeout.js"></script>
    <script src="scripts/printProduct.js"></script>
    <script src="scripts/searchScript.js"></script>
    <script src="scripts/loadTime.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        const socket = io('https://beb-web.onrender.com');
        socket.on('productUpdate', (data) => {
            var url = window.location.href;
            var parts = url.split("id=");
            var prodId = parts[parts.length - 1];
            if (prodId === data.productId){
                console.log('Received product update:', data);
                toastr.options.timeOut = null;
                toastr.options.positionClass = "toast-bottom-right";
                if (data["price"]){
                    toastr.info(`Данный товар был обновлён. Новая цена: ${data.price} руб. Обновите страницу!`)
                } else if (data["name"]){
                    toastr.info(`Данный товар был обновлён. Новое название: ${data.name}. Обновите страницу!`)
                } else if (data["category"]){
                    toastr.info(`Данный товар был обновлён. Новая категория: ${data.category}. Обновите страницу!`)
                } else if (data["deletedId"]){
                    toastr.info(`Данный товар был обновлён. Обновите страницу!`)
                } else if (data["brand"]){
                    toastr.info(`Данный товар был обновлён. Новый бренд: ${data.brand}. Обновите страницу!`)
                } else if (data["count"]){
                    toastr.info(`Данный товар был обновлён. Новое количество: ${data.count}. Обновите страницу!`)
                }
            }
        });

        socket.on('userUpdate', (data) => {
            const myId = localStorage.getItem("myId");
            if (myId){
                if (myId === data.userId){
                    console.log('Received user update:', data);
                    toastr.options.timeOut = null;
                    toastr.options.positionClass = "toast-bottom-right";
                    if (data["role"]){
                        toastr.info(`Вам выдана роль: ${data.role}. Обновите страницу!`)
                    } else if (data["deletedId"]){
                        toastr.info(`Ваш аккаунт был удалён. Обновите страницу!`)
                    } else if (data["ban"]){
                        toastr.info(`Ваш аккаунт был ${data.ban === "true" ? "забанен" : "разбанен"}. Обновите страницу!`)
                    }
                }
            }
        });
    </script>
    <!--        <link rel="stylesheet" href="/styles/outlines.css">-->
</head>
<body>
<header>
    {{>header_content}}
    <div class="head-bar">
        {{>search}}
        {{>sign_in_cart}}
        {{>head_nav_bar}}
    </div>
</header>
<main>
    <div class="loader" style="display: none;">
        <div class="running-cat-container">
            <img class="running-cat" src="images/running-cat.gif" alt="Running Cat">
        </div>
        <div class="loading-text">Загрузка</div>
    </div>

    <div class="product-container">
        <div class="error-message" style="display: none;">⚠ Что-то пошло не так</div>
        <script src="scripts/loading.js"></script>
    </div>
</main>
<footer>
    {{>quotes_code}}
    {{>footer_bar}}
    {{>logo}}
</footer>
</body>
</html>