<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="keywords"
          content="интернет-магазин для домашних животных, корм для животных, игрушки для питомцев, товары для ухода за животными, зоотовары">
    <title>Petshop - вход</title>
    <link rel="icon" href="/images/logo2.jpg">
    {{> styles}}

    <!--            <link rel="stylesheet" href="/styles/outlines.css">-->
</head>
<body>
<header>
    {{>header_content}}
    <div class="head-bar">
        {{>head_nav_bar}}
    </div>
</header>
<main>
<!--    <div class="register-form">-->
<!--        <h2>Зарегистрировать аккаунт</h2>-->
<!--        <form id="registerForm">-->
<!--            <div class="form-group">-->
<!--                <b><label for="email">Почта:</label></b>-->
<!--                <input class="email-input" type="email" id="email" name="email" maxlength="255" placeholder="Введите почту" required>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <b><label for="password">Пароль:</label></b>-->
<!--                <input class="password-input" type="password" id="password" name="password" maxlength="255" placeholder="Введите пароль" required>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <b><label for="code">Код подтверждения:</label></b>-->
<!--                <input class="code-input" type="text" id="code" name="code" placeholder="Введите код" required>-->
<!--                <button class="send-code-button" type="button" id="sendCodeButton">Отправить код</button>-->
<!--            </div>-->

<!--            <button class="register-button" type="submit">Зарегистрироваться</button>-->
<!--        </form>-->

<!--        <script src="scripts/register.js"></script>-->
<!--        <p class="auth-link">Уже есть аккаунт?</p>-->
<!--        <a href="auth">Войти</a>-->
<!--    </div>-->
</main>
<footer>
    {{>quotes_code}}
    {{>footer_bar}}
    {{>logo}}
</footer>
</body>
</html>